<!DOCTYPE html>
<html>
    <div class="grid">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <title>The BlackSmith</title>
    </head>
    <body>
        <h1 id="BS_Heading">BlackSmith</h1>

        <a href="/PC">
            <img id="Bk_Main" src="{{url_for('static', filename='Blacksmith.webp')}}">
        </a>

        <a id="Logo" href="/">
            <img id="Logo" src="{{url_for('static', filename='Logo.png')}}">
        </a>

        <img id="BK_Attack" src="{{url_for('static', filename='BS_Splash.webp')}}">
        <img id="BK_P" src="{{url_for('static', filename='BS_MP.webp')}}">
        <img id="BK_AP" src="{{url_for('static', filename='BS_AP.webp')}}">
        <img id="BK_EI" src="{{url_for('static', filename='BS_Jump.webp')}}">

        <p class="text">The Blacksmith In Castle Crashers Is A DLC Character, His Elemental Abilities Are Fire <br>
             And Non-Elemental. The Blacksmith's Abilities Consists Of 5 Different Moves Which Is <br>
             Their Spalsh Attack, Magic Projectile, Air Projectile, Elemental Infusion And Magic Jump. <br>
             The Splash Attack Makes A Frog Appear That Will Appear Behind The Player And Stick <br>
             Its Tongue Out Damaging Any Enemies It Hits. Their Magic Projectile Is A Flaming <br>
             Hammer. The Air Projectile Is Exactly The Same As The Splash Attack Except For The <br>
             Frog Appears Below The Player This Time. The BlackSmith's Elemental Infusion Pierces <br>
             The Enemies Armour And Does 2x Damage. Magic Jump Makes A SpringBoard Appear <br>
             That Damages Enemies Near It And Throws The Character In The Air.</p>
    </body>
    </div>
</html>