<!DOCTYPE html>
<html>
    <div class="grid">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <title>Green Knight</title>
    </head>
    <body>
        <h1 id="Gk_Heading">Green Knight</h1>
        
        <a href="/">
            <img id="Gk_Main" src="{{url_for('static', filename='GK_PF.webp')}}">
        </a>

        <a id="Logo" href="/">
            <img id="Logo" src="{{url_for('static', filename='Logo.png')}}">
        </a>

        <p class="text">The Green Knight In Castle Crashers Is Known For Its Poisonous Abilities. The Green Knight's <br>
            Abilities Consists Of 5 Different Moves Which Is Their Spalsh Attack, Magic Projectile, <br>
            Air Projectile, Elemntal Infusion And Magic Jump. The Splash Attack Is A Cloud Of Poisonous Gas That Knocks Enemies When They Are Hit. The Green Knight's Splash Attack Is Just A Ball Of Poison <br>
            That Can Be Shot At Enemies, The Air Projectile Is The Exact Same Thing Just Done Mid Air. <br>
            Elemental Infusion Is A Cloud Of Posion That Will Inflict Posion Onto Any Enemies In Its Range. <br>
            Lastly Their Magic Jump Is Just A Pillar Of Poison That Can Quickly Get Them Away From Enemies <br>
            Aswell As Inflict Them With Poison.</p>
    </body>
    </div>  
</html>