<!DOCTYPE html>
<html>
    <div class="grid">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <title>Grey Knight</title>
    </head>
    <body>
        <h1 id="GreyK_Heading">Grey Knight</h1>

        <a href="/PC">
            <img id="Greyk_Main" src="{{url_for('static', filename='Grey_Knight.webp')}}">
        </a>

        <a id="Logo" href="/">
            <img id="Logo" src="{{url_for('static', filename='Logo.png')}}">
        </a>

        <p class="text">The Grey Knight In Castle Crashers Is Unlocked By Completing The Levels From Home Castle To <br>
             Barbarian Boss Whose Magical Attacks Are Classed As Non-Elemental And Fire. The Grey Knight's <br>
             Abilities Consists Of 5 Different Moves Which Is Their Spalsh Attack, Magic Projectile, Air Projectile, <br>
             Elemental Infusion And Magic Jump. The Splash Attack Causes Arrows To Rain From The Sky In Front Of <br>
             The Character In Groups Of 3, This Also Causes Enemies To Be Knocked Over. Their Magic Projectile <br>
             Throws A Bomb At The Enemies Causing Fire Damage, Air Projectile Is Exactly The Same As The Splash <br>
             Attack Except For The Fact Its Done In The Air. Elemental Infusion Is One Of The Most Basic Attack <br>
             Combos And Has No Effects At All. The Grey Knight's Magic Jump Makes The Character Leap Into The Air <br>
             With A Dust Effect That Damages Overlaps Enemies.</p>
    </body>
    </div>
</html>