<!DOCTYPE html>

<html>
    <div class="grid">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"> 
        <title>Castle Crashers</title>
    </head>
        <body>
            <h1 id="Heading_Bar">Castle Crashers</h1>
            <a href="/RK">
                <img id="Rk" src="{{url_for('static', filename='red_knight.webp')}}">
            </a>
            <a href="/BK">
                <img id="Bk" src="{{url_for('static', filename='blue_knight.webp')}}">
            </a>
            <a href="/OK">
                <img id="Ok" src="{{url_for('static', filename='orange_knight.webp')}}">
            </a>
            <a href="/GK">
                <img id="Gk" src="{{url_for('static', filename='green_knight.webp')}}">
            </a>
            <a id="HT" href="/PC">
                <img src="{{url_for('static', filename='Dancing.webp')}}">
            </a>
            <a id="Ht" href="/PC">
                <img src="{{url_for('static', filename='Dancing.webp')}}">
            </a>
    </div>
</html>