<!DOCTYPE html>
<html>
    <div class="grid">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <title>Hatty</title>
    </head>
    <body>
        <h1 id="HT_Heading">Hatty</h1>

        <a href="/PC">
            <img id="Greyk_Main" src="{{url_for('static', filename='Hatty.webp')}}">
        </a>

        <a id="Logo" href="/">
            <img id="Logo" src="{{url_for('static', filename='Logo.png')}}">
        </a>

        <img id="BK_Attack" src="{{url_for('static', filename='HT_Splash.webp')}}">
        <img id="BK_P" src="{{url_for('static', filename='HT_P.webp')}}">
        <img id="BK_AP" src="{{url_for('static', filename='HT_AP.webp')}}">
        <img id="BK_EI" src="{{url_for('static', filename='HT_Jump.webp')}}">

        <p class="text">Hatty In Castle Crashers Is Unlocked By Either Owning BattleBlock Theatre Completing <br>
             An Achievement In BattleBlock Theatre Or Getting A DLC Whose Magical Attacks Are <br>
             Classed As Non-Elemental. Hatty's Abilities Consists Of 5 Different Moves Which Is Their <br>
             Spalsh Attack, Magic Projectile, Air Projectile, Elemental Infusion And Magic Jump. The <br>
             Splash Attack Makes Cubes Of Gold Fall From The Sky In Sets Of Four Each Set Is Accompanied By A Golden Whale That Swoops In And Knocks Enemies Over. Their Magic Projectile Makes A Beam Of Tears Shoot From Hatty's Eyes. Hatty's Air Projectile Throws A Giant Green Gem To Be Thrown To The Ground. Elemental Infusion Pierces The Enemies Armour And Does 2x Damage. Hatty's Magic Jump Gives Hatty A Pair Of White Wings As He Leaps Up.</p>
    </body>
    </div>
</html>