<!DOCTYPE html>
<html>
    <div class="grid">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <title>Orange Knight</title>
    </head>
    <body>
        <h1 id="Ok_Heading">Orange Knight</h1>
        
        <a href="/">
            <img id="Ok_Main" src="{{url_for('static', filename='OK_PF.webp')}}">
        </a>

        <a id="Logo" href="/">
            <img id="Logo" src="{{url_for('static', filename='Logo.png')}}">
        </a>
        
        <p class="text">The Orange Knight In Castle Crashers Is Knows For Its Fire Abilities. The Orange Knight's Abilities <br>
            Consists Of 5 Different Moves Which Is Their Spalsh Attack, Magic Projectile, Air Projectile, Elemental <br>
            Infusion And Magic Jump. The Orange Knight's Spalsh Attack Creates A Horizontal Burst Of Flames <br>
            That Knocksbacks Enemies And Does Significant Damage. Their Magical Projetile Is A Ball Of Flames <br>
            That Can Either Be Shot Horizontally Or Downwards, Air Projectile Is The Exact Same Thing Just Shot <br>
            Mid Air And Not On The Ground. Their Elemental Infusion Engulfs The Enemies In Flames. Lastly, Their <br>
            Magic Jump Creates A Pillar Of Flames Lighting Any Enemies Close Enough On Fire.<br>
        </p>
    </body>
    </div>
</html>