<!DOCTYPE html>
<html>
    <div class="grid">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <title>Pink Knight</title>
    </head>
    <body>
        <h1 id="PK_Heading">Pink Knight</h1>

        <a href="/PC">
            <img id="Bk_Main" src="{{url_for('static', filename='Pink_Knight.webp')}}">
        </a>

        <a id="Logo" href="/">
            <img id="Logo" src="{{url_for('static', filename='Logo.png')}}">
        </a>

        <img id="BK_Attack" src="{{url_for('static', filename='PK_Splash.webp')}}">

        <p class="text">The Pink Knight In Castle Crashers Is A DLC Character Whose Magical Attacks Are <br>
             Classed As Non-Elemental. The Pink Knight's Abilities Consists Of 5 Different Moves <br>
             Which Is Their Spalsh Attack, Magic Projectile, Air Projectile, Elemental Infusion And <br>
             Magic Jump. The Splash Attack Is A Row Of Rainbows That Causes Enemies To Perform <br>
             A Peace Sign. Their Magic Projectile Throws A Penguin Or A Pink Hamster At The <br>
             Enemies, Air Projectile Is Exactly The Same As The Splash Attack Except For The Fact Its <br>
             Done In The Air. Elemental Infusion Pierces The Enemies Armour And Does 2x Damage. <br>
             Magic Jump Makes A Pink Weasel Appear Out Of The Ground And Boost The Player Into The Air.</p>
    </body>
    </div>
</html>