<!DOCTYPE html>
<html>
    <div class="grid">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <title>Red Knight</title>
    </head>
    <body>
        <h1 id="Rk_Heading">Red Knight</h1>

        <a href="/">
            <img id="Rk_Main" src="{{url_for('static', filename='RK_PF.webp')}}">
        </a>

        <a id="Logo" href="/">
            <img id="Logo" src="{{url_for('static', filename='Logo.png')}}">
        </a>

        <p class="text">The Red Knight In Castle Crashers Is Known For Its Electrical Abilities. <br>
            The Red Knight's Abilities Consists Of 5 Different Moves Which Is Their Spalsh Attack, Magic Projectile, Air Projectile, Elemental Infusion And Magic Jump. The Splash Attack Is A Lightning Bolt <br>
            That Slowly Drains MP Until Its Thrown At An Enemy. Their Magic Projectile Is A Small Ball Of Electric <br>
            Sparks The Air Projectile Is Exactly The Same As This Except For The Fact Its Done In The Air. The Red <br>
            Knight's Elemental Infusion Electrifies Their Sword Stunning The Enemies They Hit With It. Magic Jump <br>
            Is Just A Little Trail/Tower Of Electricity That Follows You As You Jump While Using Magic That Damages The Enemies. </p>
    </body>
    </div>
</html>